.features .glyphicon {
  font-size: 32px;
}

body {
  padding-bottom: 70px;
  font-family: "Clear Sans";
  background-color: #fff;
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.remove-padding{
  padding:0px !important;
}

.active-tmcov{
  background-color: #5E5F5F;
}

.active-tmcov-link {
  color: #ffffff !important;
  font-weight: bold !important;
}

.active-cat{
  background-color: #3990B8;
}

.active-cat-link {
  color: #ffffff !important;
  font-weight: bold !important;
}

.active-nbrhd{
  background-color: #F17639;
}

.active-nbrhd-link {
  color: #ffffff !important;
  font-weight: bold !important;
}

.d3-window {
  border-radius: 5px;
  border: 2px solid;
  border-color: #999;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  margin-top: 100px;
}
.footer {
  color: #efefef;
  background-color: #333;
}
.footer a {
  color: #9af7fe;
}

.footer .glyphicon {
  font-size: 14px;
}

.scf-power {
  padding-top: 10px;
  font-family: Tahoma,Geneva,Arial,sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
} 

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: bold;
}

a:active {
    text-decoration: none;
}

.scf-logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;

}

.scf-see {
  color: #5E5F5F;
}

.scf-click {
  color: #F17639;
}

.scf-fix {
  color: #3990B8;
}

.spacer {
  margin-top: 40px;
}

.spacer-bottom {
  margin-bottom: 150px;
}

.quote {
  background-color: #444;
  color: #e1e1e1;
  margin: 2em 0;
}
.quote blockquote {
  border: none;
  margin: 0;
}
.quote footer {
  color: #c1c1c1;
}

#cartodbmapcontainer {
  width: 100%;
}

#cartodbmapspot {
  width: 100%; 
  height: 550px;
}

/* percentage complete donut styling */
.issue-number-label {
  font-size: 20px;
  fill: #5E5F5F;
  font-weight: bold;
}

.issue-number-text {
  font-size: 30px;
  fill: #5E5F5F;
  font-weight: bold;
}

.issue-ack-perc-label {
  fill: #F17639;
}

.issue-ack-perc-text {
  fill: #F17639;
}

.issue-cmp-perc-label {
  fill: #3990B8;
}

.issue-cmp-perc-text {
  fill: #3990B8;
}

.issue-donut {
  fill: #5E5F5F;
}

.acknowledged-number-label {
  font-size: 20px;
  fill: #F17639;
  font-weight: bold;
}

.acknowledged-number-text {
  font-size: 30px;
  fill: #F17639;
  font-weight: bold;
}

.acknowledged-donut {
  fill: #F17639;
}

.completed-number-label {
  font-size: 20px;
  fill: #3990B8;
  font-weight: bold;
}

.completed-number-text {
  font-size: 30px;
  fill: #3990B8;
  font-weight: bold;
}

.completed-donut {
  fill: #3990B8;
}


/*heatmap styling */
rect.bordered {
  stroke: #E6E6E6;
  stroke-width:1px;   
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}

.d3-nbrhd-tip {
  line-height: 1;
  font-family: Consolas, courier;
  font-weight: bold;
  padding: 3px;
  background: #ffffff;
  color: #aaa;
  border-radius: 2px;
  border-color: #aaa;
}

/* Creates a small triangle extender for the tooltip */
.d3-nbrhd-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #aaa;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-nbrhd-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;

}

.d3-cell-tip {
  line-height: 1;
  font-family: Consolas, courier;
  font-weight: bold;
  padding: 3px;
  background: #ffffff;
  color: #aaa;
  border-radius: 2px;
  border-color: #aaa;
}






