<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <style>
      rect.bordered {
        stroke: #E6E6E6;
        stroke-width:1px;   
      }

      text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }

      text.axis-workweek {
        fill: #000;
      }

      text.axis-worktime {
        fill: #000;
      }
    </style>
    <script src="../js/d3.min.js"></script>
    <script src="../js/colorbrewer.js"></script>
    <script src="../js/jquery-2.1.3.min.js"></script>
  </head>
  <body>
    <div id="chart"></div>
    Hello

    <script type="text/javascript">
      var margin = { top: 50, right: 0, bottom: 100, left: 300 },
          width = 960 - margin.left - margin.right,
          height = 900 - margin.top - margin.bottom,
          gridSize = Math.floor(width / 24),
          legendElementWidth = gridSize*2,
          buckets = 7,
          //colors = ["#ffffd9","#edf8b1","#c7e9b4","#7fcdbb","#41b6c4","#1d91c0","#225ea8","#253494","#081d58"], // alternatively colorbrewer.YlGnBu[9]
          colors = colorbrewer.YlGnBu[7],
          //categorylabels = ["Potholes", "Trash", "Signs", "Health", "Property", "Graffiti", "Policing"],
          nbrhdlabels = ["ALL", "AMT", "BVH", "DXW", "DTN", "DGT", "ERK", "ESH", "EDG", "FHV", "FHH", "HLL", "LWF", "NHL", "PSH", "QNP", "WRV", "WRK", "WVL", "WOO"];

      var neighborhoods = [
        "Amity",
        "Annex",
        "Beaver Hills",
        "Dixwell",
        "Downtown",
        "Dwight",
        "East Rock",
        "East Shore",
        "Edgewood",
        "Fair Haven",
        "Fair Haven Heights",
        "Hill",
        "Long Wharf",
        "Newhallville",
        "Other",
        "Prospect Hill",
        "Quinnipiac",
        "West River",
        "West Rock",
        "Westville",
        "Wooster Square/Mill River"
      ]

      var categories = [
        "Bins for Trash & Recycling",
        "General Bus Request/Incident",
        "Graffiti",
        "Hangers",
        "Health Complaints",
        "Illegal Dumping",
        "Other",
        "Other - city responsibility",
        "Parking Meter",
        "Parks Request",
        "Policing Issue",
        "Post to Neighbors",
        "Potholes",
        "Private Property Issue",
        "Public Space, Streets and Drains",
        "Request for volunteers",
        "Sidewalks and Curb damage",
        "Signs / Bus Shelters / Pavement Markings",
        "SNOW RELATED",
        "Street Lamp",
        "Traffic/Road Safety",
        "Traffic Signal / Pedestrian Signal",
        "Trash & Recycling",
        "Tree Trimming"
      ]

      console.log(neighborhoods);
      console.log(' ');
      console.log(categories);

      //setup the nested objects to store the summed data:
      var heatdata = new Object();
      for (i = 0; i < neighborhoods.length; i++) {
        heatdata[neighborhoods[i]] = {};
        for (j = 0; j < categories.length; j++) {
          heatdata[neighborhoods[i]][categories[j]] = 0;
        }
      }

      //console.log("http://localhost/nhrc2/php/HeatmapData.php?tmCovrg=Tm-Cvrg-All");

      //console.log('start of data:');
      /*
      $.getJSON("http://localhost/nhrc2/php/HeatmapData.php?tmCovrg=Tm-Cvrg-All", function(issue){
          var idx = 0;
          $.each(issue, function(){
              //console.log(issue[idx]);
              //console.log(issue[idx]['category']);
              //console.log(issue[idx]['neighborhood'] == 'East Rock');
              //document.write(issue+"<br />"); 
              heatdata[issue[idx]['neighborhood']][issue[idx]['category']] += 1;
              //document.write(idx+"<br />"); 
              idx += 1;

          });
      });
      */

      //begin d3 section
      d3.json("http://localhost/nhrc2/php/HeatmapData.php?tmCovrg=Tm-Cvrg-All", function(error, data) {
        if (error) return console.warn(error);
        //console.log(data);
        for (idx = 0; idx < data.length; idx++) {
          heatdata[data[idx]['neighborhood']][data[idx]['category']] += 1;
        }
        var heatdataout = {};
        var neighborhoodarr = [];
        var categoriesarr = [];
        var issuecountarr = [];

        for (i = 0; i < neighborhoods.length; i++) {
          for (j = 0; j < categories.length; j++) {
            //console.log('neighborhood: '+neighborhoods[i]+' category: '+categories[j]+
            //  ' count: '+heatdata[neighborhoods[i]][categories[j]]);
            neighborhoodarr.push(i);
            categoriesarr.push(j);
            issuecountarr.push(heatdata[neighborhoods[i]][categories[j]]);
          }
        }
        heatdataout['neighborhoodnum'] = neighborhoodarr;
        heatdataout['categorynum'] = categoriesarr;
        heatdataout['count'] = issuecountarr;
        heatdataout['neighborhood'] = neighborhoods;
        heatdataout['category'] = categories;
        
        var colorScale = d3.scale.quantile()
              .domain([0, buckets - 1, d3.max(heatdataout, function (d) { return d.count; })])
              .range(colors);
        //document.write('All '+idx+' records have been summed.');


        var svg = d3.select("#chart").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var catLabels = svg.selectAll(".catLabel")
            .data(categories)
            .enter().append("text")
              .text(function (d) { return d; })
              .attr("x", 0)
              .attr("y", function (d, i) { return i * gridSize; })
              .style("text-anchor", "end")
              .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
              .attr("class", function (d, i) { return "dayLabel mono axis"; });


      });
      //end d3 section

    </script>
  </body>
</html>